#main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'header header' 'canvas layers' 'footer footer';

  .header {
    grid-area: header;
  }

  .canvas {
    grid-area: canvas;
  }

  .layers {
    grid-area: layers;
  }

  .footer {
    grid-area: footer;
  }
}
